h1 {
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  color: red;
}
img {
  width: 500px;
}

p {
  font-family: sans-serif;
  text-align: left;
}

h2.flashy {
  color: red;
  font-style: italic;
}

p.links {
  text-align: center;
}


p.intro {
  font-style: italic;
  color: red;
}

p.cakes {
  color: orange;
}

p.best {
  font-weight: bolder;
  color: orange;
}

h3.flashy {
  color: red;
  font-style: italic;
}

h1.flashy {
  color: red;
  font-style: italic;
}
